@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif !important;
}

.fromBtoT {
  top: 9rem;
  animation: fromBtoT 0.5s forwards;
}

@keyframes fromBtoT {
  to {
    top: 2.25rem;
  }
}
* {
  scroll-behavior: smooth !important;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar {
  background-color: rgb(9 9 11);
}
body::-webkit-scrollbar:vertical {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 20px;
  border: 0;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
